// Custom colors
$color-blue:            #2196F3;
$color-brown:           #7C5347;
$color-cyan:            #00BCD4;
$color-green:           #4CAF50;
$color-grey:            #9E9E9E;
$color-lavender:        #3E56B7;
$color-orange:          #FF9800;
$color-pink:            #F50063;
$color-purple:          #A424B2;
$color-red:             #F44336;
$color-teal:            #009888;
$color-yellow:          #FFBB14;