.trial-sandbox-wrapper {
    position: absolute;
    bottom: 0;
    margin: 10px;
    .trial-notice,
    .sandbox-notice {
        border: 2px solid;
        position: relative;
        padding: 5px 10px;
        font-size: 14px;
        color: #fff;
        border-radius: 3px;
        margin-top: 10px;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    .trial-notice {
        border-color: $brand-warning;
        .fa {
            color: $brand-warning;
        }
    }
    .trial-expired {
        border-color: $brand-danger;
        .fa {
            color: $brand-danger;
        }
    }
    .sandbox-notice {
        border-color: $brand-info;
        .fa {
            color: $brand-info;
        }
    }
}

/**
 * BILLING SECTION STYLES
 */
.change-plan-action {
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline;
    padding: 8px 15px;
}
.upgrade-step {
    margin-left: -53px;
}
.number-badge {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: $brand-primary;
    border-radius: 100%;
    color: #fff;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
}
.payment-lock {
    float: right;
    margin-top: -45px;
    margin-right: 15px;
}
#list_member_payments_table_wrapper .dataTables_header {
    display: none;
}

#card_element {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    height: 38px;
    padding: 7px 13px;
}

/**
 * SETUP WIZARD STYLES
 */
.wizard-progress {
    margin: 20px 0 40px 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    .step-heading {
        text-align: center;
        background: #868e96;
        color: #ccc;
        font-size: 16px;
        &.active {
            font-weight: bold;
            background: $brand-primary;
            color: #fff;
        }
    }
}

/**
 * FORMS STYLES
 */
#create_edit_form_form {
    .form-steps {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-right: -16px;
            position: relative;
            z-index: 9;
            li {
                font-size: 18px;
                padding: 20px 20px;
                text-align: right;
                cursor: pointer;
                color: #868e96;
                &.active {
                    border: 1px solid #ddd;
                    border-right-color: #fff;
                    color: $brand-primary;
                    font-weight: bold;
                    border-radius: 3px 0 0 3px;
                }
                &.error {
                    color: $brand-danger !important;
                    &:before {
                        font-family: FontAwesome;
                        content: '\f071';
                        margin-right: 10px;
                    }
                }
                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
    .form-fields {
        border-left: 1px solid #ddd;
        .form-step-content {
            padding-left: 30px;
            &.active {
                display: block;
            }
            .form-group {
                margin-bottom: 25px;
                & > label {
                    display: block;
                    font-weight: bold;
                }
                .form-group {
                    margin-bottom: 15px;
                    & > label {
                        //font-weight: normal;
                    }
                }
                .child-content {
                    border-left: 1px solid #ddd;
                    padding-left: 27px;
                    margin-top: 15px;
                }
                .input-group {
                    height: 38px;
                }
            }
            h4 {
                margin-bottom: 25px;
                border-bottom: 1px solid #ddd;
                padding-bottom: 20px;
                margin-top: 21px;
            }
            .controls {
                margin-top: 30px;
                border-top: 1px solid #ddd;
                padding-top: 30px;
                .save {
                    margin-left: 40px;
                }
            }
            .delete-closest-field {
                position: absolute;
                bottom: 8px;
                right: 10px;
                z-index: 9;
            }

            .sortable-wrapper {
                border: 3px solid #424242;
                padding: 15px;
                border-top-width: 10px;
                border-radius: 3px;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        border: 1px solid #DFDFDF;
                        border-radius: 3px;
                        background: #F7F7F7;
                        padding: 5px;
                        margin-bottom: 8px;
                        cursor: pointer;
                        &.sortable-placeholder {
                            background: #fff;
                            border: 2px dashed #ccc;
                            height: 36px;
                        }
                        &.disabled {
                            cursor: not-allowed;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .column-separator {
                    border-left: 3px solid #424242;
                    height: calc(100% + 30px);
                    position: absolute;
                    left: 0;
                    top: -15px;
                }
            }

        }
    }
}